@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --fonte-destaque:"Young Serif", serif;
    --fonte-alternativa:"Outfit", serif;
}

*{
    padding: 0px;
    margin: 0px;
    color: hsl(30, 10%, 34%);
}

body{
    background-color: hsl(30, 54%, 90%);
    padding-top: 80px;
}

picture img {
    width: 90%;
    border-radius: 10px;
    
}

main{
    background-color: white;
    max-width: 750px;
    padding-top: 40px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}

article{
    text-align: left;
    padding: 35px;
    font-family: var(--fonte-alternativa);
}
article h1{
    font-size: 2em;
    font-family: var(--fonte-destaque);
    padding: 10px;
    font-weight: normal;
    color: hsl(24, 5%, 18%);

}
article p {
    font-family: var(--fonte-alternativa);
    padding: 10px;
    margin-bottom: 20px;
}

.tempo{
    background-color: hsl(330, 100%, 98%);
    padding: 20px 40px;
    border-radius: 20px;
    color: hsl(332, 51%, 32%);
    font-family: var(--fonte-alternativa);
    font-weight: normal;
}
.tempo h2 {
    padding: 10px;
    color: hsl(332, 51%, 32%);
    font-size: 1.2em;
    text-align: left;
}
ul {
    list-style-position: inside;
    
    
}
strong{
    color: hsl(30, 10%, 34%);
}
.marrom{
    color: hsl(30, 10%, 34%);
    display: inline;
    font-weight: normal;
}
.tempo li {
    color: black;
    padding-left: 10px;
    color: hsl(332, 51%, 32%);
    padding-top: 8px;
    padding-bottom: 8px; 
}
.ingredientes h2 {
    color: hsl(14, 45%, 36%);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 2em;
    padding: 20px 20px 20px 0px;
    
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
.ingredientes li {
    padding: 8px 0px 8px 0px ;
    color:hsl(14, 45%, 36%) ;
    
}
.instrucoes h2{
    color: hsl(14, 45%, 36%);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 2em;
}

.instrucoes ol{
    padding: 20px;
    font-weight: bold;
    
}
.instrucoes li {
    padding-top: 10px;
    padding-bottom: 10px;
    color: hsl(14, 45%, 36%); 
}
.nutricao h2{
    color: hsl(14, 45%, 36%);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 2em;
}
.nutricao p {
    padding: 10px 0px 10px 0px;
}
.numero {
    color: hsl(14, 45%, 36%);
    
}
.texto {
    padding: 0px;
    margin: 0px;
    display: inline;
}